#include "{{CLASS_NAME}}.h"

A{{CLASS_NAME}}::A{{CLASS_NAME}}()
{
}

void A{{CLASS_NAME}}::BeginPlay()
{
	Super::BeginPlay();
}

void A{{CLASS_NAME}}::SetupInputComponent()
{
	Super::SetupInputComponent();
}
