#pragma once

#include "CoreMinimal.h"
#include "GameFramework/PlayerController.h"
#include "{{CLASS_NAME}}.generated.h"

/**
 * {{DESCRIPTION}}
 */
UCLASS()
class {{API_MACRO}} A{{CLASS_NAME}} : public APlayerController
{
	GENERATED_BODY()

public:
	A{{CLASS_NAME}}();

protected:
	virtual void BeginPlay() override;
	virtual void SetupInputComponent() override;
};
